:root {
  background-color: #242424;
  background-image: url("https://images.squarespace-cdn.com/content/v1/5c5ec4b0b2cf79606bc6b83c/1637064700905-H32DC3VX0MGWUWXYQ8XR/StefanTrochaPhotography-GoldsGym-Krefeld-Leershooting-FinalerLook-L1110271-compressed.jpg?format=1500w");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  padding: 50px;
}

.frontpage {
  padding: 30px;
  text-align: left;
}

.frontpage p {
  text-align: center;
  margin-bottom: 100px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #0000007a;
  border-radius: 10px;
  color: #d6d6d6;
}

.buttons {
  display: flex;
  flex: 1;
}

.tabit {
  color: black;
  font-size: 40px;
}

.navs {
  background-color: #4d4d4d;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin-bottom: 30px;
}

.navs nav {
  display: flex; /* Use flexbox for the nav container */
}

.navs nav a {
  margin: 0 10px; /* Add margin between the links */
  color: white; /* Set link color */
  text-decoration: none; /* Remove underline */
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navs nav a:hover {
  color: #f2613f;
}
